body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

/* Карточка сервиса */
.client-block {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 10px;
    font-size: 24px;
}

h2 {
    color: #666;
    margin: 10px 0;
    font-size: 18px;
    display: inline-block;
}

.open {
    color: #2cdd0d;
    font-size: 18px;
    margin: 5px 0 15px 0;
    font-weight: bold;
}

.close {
    color: #c8330d;
    font-size: 18px;
    margin: 5px 0 15px 0;
    font-weight: bold;
}

.error {
    color: #c8330d;
    margin: 5px 0 15px 0;
}

.noData {
    color: #c8330d;
    font-size: 18px;
    margin: 20px 0;
}

/* Таблицы */
.table-wrapper {
    max-height: 300px; 
    overflow-y: auto;  
    width: 100%;
    margin: 20px 0 0 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    border: 1px solid #eee;
}

/*Стилизация самой таблицы и строк*/
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
    position: sticky;
    top: 0;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #e9e9e9;
}

td:nth-child(2) {
    word-break: break-all;
}